<h2><%= link_to ku_user.ku_id, ku_user %></h2>
<p><%= ku_user.firstname %></p>
<p><%= link_to "Edit", edit_ku_user_path(ku_user) %> | 
<%= link_to "Delete", ku_user_path(ku_user),  method: :delete, data: { confirm: "You sure?" } %>
</p>
<hr>
