<%= button_to 'Add new user', new_ku_user_path, :class => "btn btn-success", :method => :get %>
<br>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">User index</div>
  <br>
  	<table id="" class="datatable_display table table-striped">
  		<thead>
  			<tr>
  				<th>Ku ID</th>
  				<th>Firstname</th>
  				<th>Lastname</th>
  				<th>Action</th>
  			</tr>
  		</thead>
  		<tbody>
  			<%= render @kuusers %>
  		</tbody>
	</table>
</div>