<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Nodes</div>
  <br>
  	<table id="" class="datatable_display table table-striped">
  		<thead>
  			<tr>
  				<th>Node name</th>
  				<th>Hostname</th>
  				<th>Launch Time</th>
  			</tr>
  		</thead>
  		<tbody>
  			<%= render @nodes %>
  		</tbody>
	</table>
</div>