<tr>
	<td>
		<div class="chef_att">
			<%= f.label :content, "Attribute" %>
			<%= f.text_field :att_value %>
			<%= link_to_remove_association("remove", f, class: "btn btn-default", { wrapper_class: 'chef_att' }) %>
		</div>
	</td>
</tr>