<%= javascript_include_tag "js_dynamic_form/add_remove_field.js" %>

<div class="row">
  <div class="col-sm-10">
  	<span class="pull-left">
  		<h1>
  			<% if @program.persisted? %>
                Update program information
            <% else %>
                Add new program
            <% end %>
  		</h1>
  	</span>
  </div>
</div>

<div class="row">
  <div class="col-sm-4"><!--left col-->
  	<%= render 'form' %>
  </div><!--/col-4-->
  <div class="col-sm-8">
  	<%= link_to_add_fields "Add Action", f, :chef_resources %>
        <% f.fields_for :chef_resources do |builder| %>
                <%= render 'chef_resource_fields', :f => builder %>
        <% end %>
  </div><!--/col-9-->
</div>