<div class="main">
  <div class="container">
    <!-- Gallery -->
    <div class="gallery">
      <div class="row">
        <div class="span12" align="center" >
          <h2><b>Add Program</b></h2>
            <%= render 'form' %>
        </div>
      </div>
    </div>

    <!-- Buttons. Replace # with your link -->
    <div class="buttons"></div>
  </div>
  <!-- End of container -->
  <!-- Sponsors -->
  <!-- Foot -->

</div>
