<div class="main">
  <div class="container">
    <!-- Gallery -->
    <div class="gallery">

      <div class="row">
        <div class="span12" align="center" >
          <h2><b><%= @file_path.split("/")[-1] %></b></h2>
            <%= @program_id %><br><%= @file_path %>
        </div>
      </div>


</div>
