<div class="main">
  <div class="container">
    <!-- Gallery -->
    <div class="gallery">

      <div class="row">
        <div class="span12" align="center" >
          <h2><b>View File</b></h2>
        </div>
      </div>


</div>
