<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @chef_property.value %>
</p>

<%= link_to 'Edit', edit_chef_property_path(@chef_property) %> |
<%= link_to 'Back', chef_properties_path %>
