<!-- Navigation section -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container"> <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
      <!-- Site name or Site logo. Replace "index.html" with your site link -->
      <h1><a class="brand" href="index.html">img</a></h1>
      <div class="nav-collapse">
        <!-- Navigation links -->
        <ul class="nav">
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
<div class="main">
  <div class="container">
    <!-- Gallery -->
    <div class="gallery">
      <div class="row">
        <div class="span12">
          <h2><b>Log In</b></h2>
          <table align="center" style="height:200px;">
            <tr>
              <td>Username</td><td><input type="text" name="username"></td>
            </tr>
            <tr>
              <td>Password</td><td><input type="text" name="password"></td>
            </tr>
            <tr>
              <td colspan="2"><button type="button">login</button></td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- Buttons. Replace # with your link -->
    <div class="buttons"></div>
  </div>
  <!-- End of container -->
  <!-- Sponsors -->
  <!-- Foot -->

</div>
<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="span4">
        <p>&copy; 2014 kasetsart university</p>
      </div>
      <div class="span4">
        <p><i class="icon-phone"></i> &nbsp;
          00123 320 000 123 456</p>
      </div>
      <div class="span4">
        <p><i class="icon-envelope"></i> &nbsp;
          hello@ku.ac.th</p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</footer>
