<%= button_to 'Add new subject', new_subject_path, :class => "btn btn-success", :method => :get %>
<br>
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Subject List</div>
  <br>
  	<table id="" class="datatable_display table table-striped">
  		<thead>
  			<tr>
  				<th>Subject ID</th>
  				<th>Subject Name</th>
  				<th>Term</th>
  				<th>Year</th>
  				<th>Action</th>
  			</tr>
  		</thead>
  		<tbody>
  			<%= render @subjects %>
  		</tbody>
	</table>
</div>