<tr>
	<th scope="row"><%= link_to user.ku_id, user %></th>
	<td><%= user.firstname %></td>
	<td><%= user.lastname %></td>
	<td>
		<%= button_to 'Add', add_user_to_subject_path(@subject, user), :class => "btn btn-default", :method => :post %>
	</td>
</tr>
