<div class="row">
  <div class="col-sm-12">
    <span class="pull-left"><h3 style="font-weight: bold;"><%= @subject.subject_name %> Users</h3></span>
    <span class="pull-right">
      <h1>
        <!--<div style="display:inline-block;">
          <% #link_to "Apply change", subject_path(@subject)+"/subject_apply", :class => "btn btn-primary" %>
        </div>-->
        <div style="display:inline-block;">
          <%= button_to "Back to #{@subject.subject_name}", subject_path(@subject), :class => "btn btn-default", :method => :get %>
        </div>
      </h1>
    </span>
  </div>
</div>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">User in this subject</div>
  <br>
  	<table id="" class="datatable_display table table-striped">
  		<thead>
  			<tr>
  				<th>Ku ID</th>
  				<th>Firstname</th>
  				<th>Lastname</th>
  				<th>Action</th>
          <th>Change</th>
  			</tr>
  		</thead>
  		<tbody>
  			<%= render partial: "subjectuser", collection: @subjectusers, as: :user %>
  		</tbody>
	</table>
</div>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">User List</div>
  <br>
  	<table id="" class="datatable_display table table-striped">
  		<thead>
  			<tr>
  				<th>Ku ID</th>
  				<th>Firstname</th>
  				<th>Lastname</th>
  				<th>Action</th>
  			</tr>
  		</thead>
  		<tbody>
  			<%= render partial: "kuusers", collection: @kuusers, as: :user %>
  		</tbody>
	</table>
</div>
