<div class="row">
  <div class="col-sm-12">
    <span class="pull-left"><h1><%= @subject.subject_name %> Users</h1></span>
    <span class="pull-right">
      <h1>
        <%= button_to 'Apply change', subject_apply_path, :class => "btn btn-primary", params: {'subject_id' => @subject.id.to_s} %>
      </h1>
    </span>
  </div>
</div>


<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">User in this subject</div>
  <br>
  	<table id="" class="datatable_display table table-striped">
  		<thead>
  			<tr>
  				<th>Ku ID</th>
  				<th>Firstname</th>
  				<th>Lastname</th>
  				<th>Action</th>
  			</tr>
  		</thead>
  		<tbody>
  			<%= render partial: "subjectuser", collection: @subjectusers, as: :user %>
  		</tbody>
	</table>
</div>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">User List</div>
  <br>
  	<table id="" class="datatable_display table table-striped">
  		<thead>
  			<tr>
  				<th>Ku ID</th>
  				<th>Firstname</th>
  				<th>Lastname</th>
  				<th>Action</th>
  			</tr>
  		</thead>
  		<tbody>
  			<%= render partial: "kuusers", collection: @kuusers, as: :user %>
  		</tbody>
	</table>
</div>