<h1><%= @subject.subject_name %> index</h1>
<hr>
<%= button_to 'Apply', subject_apply_path, :class => "btn btn-primary", params: {'subject_id' => @subject.id.to_s} %>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">User in this subject</div>
  <br>
  	<table id="js_datatable" class="table table-striped">
  		<thead>
  			<tr>
  				<th>Ku ID</th>
  				<th>Firstname</th>
  				<th>Lastname</th>
  				<th>Action</th>
  			</tr>
  		</thead>
  		<tbody>
  			<%= render partial: "subjectuser", collection: @subjectusers, as: :user %>
  		</tbody>
	</table>
</div>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">User List</div>
  <br>
  	<table id="js_ku_users_datatable" class="table table-striped">
  		<thead>
  			<tr>
  				<th>Ku ID</th>
  				<th>Firstname</th>
  				<th>Lastname</th>
  				<th>Action</th>
  			</tr>
  		</thead>
  		<tbody>
  			<%= render partial: "kuusers", collection: @kuusers, as: :user %>
  		</tbody>
	</table>
</div>