<h2><%= @subject.subject_name %> index</h2>
<hr>
<br>
<h2>User in this subject</h2>
<%= render partial: "subjectuser", collection: @subjectusers, as: :user %>
<br>
<br>
<h2>User List</h2>
<%= render partial: "kuusers", collection: @kuusers, as: :user %>
