<% if !user.user_error.nil? %>
  <tr>
    <td><%= user.ku_id %></td>
    <td><%= button_to 'Detail', user, :class => "btn btn-primary", :method => :get %></td>
    <td><font color="red"><%= user.user_error.error_message %></font></td>
  </tr>
<% end %>
