<div>
  <div class="well well-sm" style="background: #D8D8D8;">

      <div class="row">
        <div class="col-md-12">
          <% if @kuuser.user_error.chef_resource_id == chef.id %>
            <div class="form-group text-danger bg-danger">
              <label for="subject">
                Action:
              </label>
              An error occurred while trying to remove <%= action_remove_resource_name(chef.resource_type) %>
            </div>
          <% else %>
            <div class="form-group">
              <label for="subject">
                Action: Remove
              </label>
              <%= action_remove_resource_name(chef.resource_type) %>
            </div>
          <% end %>


          <div style="display: none;">
            <%= expand_collapse_for(chef, @program) %>
          </div>


          <div class="row">
            <div class="col-md-4 text-center">
              <button type="button" class="btn btn-info">Expand</button>
            </div>
          </div>
        </div>

      </div>
    </div>

</div>
