<tr>
	<td><%= program.program_name %></td>
	<td>
		<% owner = KuUser.where(:id => program.owner).first %>
		<%= owner.firstname if !owner.nil? %>
	</td>
	<td>
		<div style="display:inline-block;">
			<%= button_to 'Edit', edit_program_path(program), :class => "btn btn-primary", :method => :get  %>
		</div>
		<div style="display:inline-block;">
			<%= button_to 'Delete', program_path(program), data: {title: "Delete Program:#{program.program_name}", confirm: "Are you sure?" }, :class => "btn btn-default", :method => :delete %>
		</div>
	</td>
</tr>
