<div>
    <div class="well well-sm" style="background: #D8D8D8;">
      <div class="row">
        <div class="col-md-12">
          <% if @kuuser.user_error.personal_chef_resource_id == chef.id %>
            <div class="form-group text-danger bg-danger">
              <label for="subject">
                <% if @kuuser.user_error.error_message.nil? %>
                  An error occurred while trying to <%= resource_type_full_name(chef.resource_type) %> please see log
                <% else %>
                  <%= @kuuser.user_error.error_message %>
                <% end %>
              </label>
            </div>
          <% else %>
            <div class="form-group">
              <label for="subject">
                Action:
              </label>
              <%= resource_type_full_name(chef.resource_type) %>
            </div>
          <% end %>


          <div style="display: none;">
            <%= personal_program_expand_collapse_for(chef, @kuuser) %>
          </div>


          <div class="row">
            <div class="col-md-4 text-center">
              <button type="button" class="btn btn-info">Expand</button>
            </div>
          </div>
        </div>

      </div>
    </div>

</div>
