
<div class="row">
  <div class="col-md-1">
    <%= link_to "System.log", logs_system_log_path, :class => "btn btn-primary" %>
  </div>
  <div class="col-md-1">
    <%= button_to 'Clear', clear_system_log_path, :class => "btn btn-default", :method => :delete %>
  </div>
</div>
<br>
<br>
<div class="panel panel-danger">
  <!-- Default panel contents -->
  <div class="panel-heading">Error Logs</div>
  <br>
    <table id="" class="datatable_display table table-striped">
      <thead>
        <tr>
          <th>Ku ID</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>View Log</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "errorlog", collection: @errors, as: :log %>
      </tbody>
  </table>
</div>


<div class="panel panel-info">
  <!-- Default panel contents -->
  <div class="panel-heading">Logs</div>
  <br>
    <table id="" class="datatable_display table table-striped">
      <thead>
        <tr>
          <th>Ku ID</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>View Log</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "passlog", collection: @passes, as: :log %>
      </tbody>
  </table>
</div>
