<%= button_to 'Back', logs_path, :class => "btn btn-primary" %>
<br><br>
<div id="editor"><%= @data %></div>
<br><br>
<%= button_to 'Back', logs_path, :class => "btn btn-primary" %>
<%= javascript_include_tag "ace/src-min/ace.js", "ace/text_area_ace.js" %>