
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Action index</div>
  <br>
  	<table id="" class="datatable_display table table-striped">
  		<thead>
  			<tr>
  				<th>Action ID</th>
  				<th>Action type</th>
  				<th>Related program</th>
  				<th>Action</th>
  			</tr>
  		</thead>
  		<tbody>
  			<%= render @personal_chef_resources %>
  		</tbody>
	</table>
</div>
