<!DOCTYPE html>
<html>
<head>
  <title>KuWorkstation</title>
  <%= stylesheet_link_tag    'application', 'bootstrap', 'bootstrap-responsive', 'font', 'font-awesome', 'font-awesome-ie7', 'isotype', 'prettyPhoto', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'bootstrap', 'custom', 'easing', 'html5shim', 'isotype', 'jquery', 'jquery.prettyPhoto', 'jquery.tweet', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
